* {
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* -------------- Navbar -------------- */

.navbar {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3vh;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
    opacity: 50%;
}

nav {
    display: flex;
    justify-content: center;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #007BFF;
    font-weight: 600;
}

@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        align-items: center;
    }
    
    .nav-links li {
        margin: 10px 0;
    }
}

/* -------------- Section 1 -------------- */

.contenedor-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    flex: 1;
}

.contenedor-contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    color: #666666;
    margin: 20px 0;
}

.texto-introductorio h1 {
    color: black;
    font-size: 3rem;
    font-weight: 700;
    margin: 40px 0;
    position: relative;
    overflow: hidden;
    height: 1.2em;
    margin-top: 40px;
}

.texto-introductorio h1 span {
    display: block;
    position: absolute;
    width: 100%;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.texto-introductorio h1 .current {
    transform: translateY(0);
    opacity: 1;
}

.texto-introductorio h1 .next {
    transform: translateY(100%);
    opacity: 0;
}

.texto-introductorio p {
    font-size: 1rem;
    margin: 60px 0;
}

.imagen-principal {
    max-width: 30%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 6%;
    margin: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra alrededor de la imagen */
}

.imagen-principal img {
    max-width: 100%;
    height: auto;
    transform-origin: 83%;
    transform: scale(1.35);
    transition: transform 0.3s ease;
}

.imagen-principal img:hover {
    transform: scale(1.45);
}


button {
    background: transparent;
    position: relative;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid rgb(40, 144, 241);
    outline: none;
    overflow: hidden;
    color: rgb(40, 144, 241);
    transition: color 0.3s 0.1s ease-out;
    text-align: center;
}

button span {
    margin: 10px;
}

button::before {
    position: absolute;
    top: 250%;
    left: -150%;
    width: 290%;
    height: 400%;
    content: '';
    background-color: rgb(40, 144, 241);
    transform: rotate(45deg);
    transition: top 0.5s ease-out, left 0.5s ease-out;
    z-index: -1;
}

button:hover {
    color: #fff;
    border: 1px solid rgb(40, 144, 241);
}

button:hover::before {
    top: -50%;
    left: -50%;
}

.boton-youtube { }

.boton-github { }

.boton-cv { }

.botones-ordenados {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.no-underline {
    text-decoration: none;
}

.no-underline:hover {
    text-decoration: none;
}

/* -------------- Section 2 -------------- */

.contenedor-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Añadido */
    box-sizing: border-box;
    min-height: 100vh;
    margin-top: 20px;
}

.contenedor-contenido2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1500px;
}

.card {
    margin-bottom: 30px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
}

.h1 {
    margin-bottom: 0px;
}

p {
    margin-top: -5px; /* Reducir el margen superior del párrafo */
}

.card h1 {
    text-align: center;
}

.card p {
    text-align: center;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño */
    column-gap: 250px; /* Ajusta este valor para aumentar el espacio horizontal */
    row-gap: 20px; /* Mantén el espacio vertical constante */
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.skill-item {
    display: flex;
    align-items: center;
    justify-content: start;
    transition: transform 0.3s ease-in-out;
}

.skill-item:hover {
    transform: scale(1.2); /* Aplica el zoom a todo el contenedor */
    transition: transform 0.1s ease-in-out; /* Añade una transición suave */
}

.skill-item img {
    margin-right: 10px;
}

.skill-item p {
    margin: 0;
}



/* -------------- Section 3 -------------- */


#section-projects {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-3 {

    height: 100vh;
   
}

.carousel-container {
    width: 90%;
    max-width: 1500px;
    text-align: center;
}

.carousel-header {
    text-align: center;
    margin-bottom: 20px;
}

.carousel-header h2 {
    font-size: 24px;
    margin: 0;
}

.carousel-header p {
    font-size: 18px;
    margin: 5px 0 0;
}

.carousel {
    display: flex;
    width: 100%;  /* Aumenta el ancho del carrusel */
    height: 600px;  /* Ajusta la altura del carrusel */
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;  /* Asegura que los elementos internos ocupen toda la altura */
}

.carousel-item {
    display: flex;
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    height: 100%;  /* Asegura que los elementos ocupen toda la altura */
    align-items: center;
}

.carousel-item img,
.carousel-item video,
.carousel-item iframe {
    width: 60%;
    height: auto;
    border-radius: 10px;
    object-fit: cover; /* Asegura que el contenido se ajuste al contenedor */
}

.carousel-content {
    padding: 20px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left; /* Alinea el texto a la izquierda */
}

.carousel-content h2 {
    margin: 0;
    font-size: 24px;
}

.carousel-content p {
    margin: 10px 0 0;
    font-size: 16px;
}

.carousel-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-nav button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #666;
    padding: 0 20px;
    transition: color 0.3s;
}

.carousel-nav button:hover {
    color: #333;
}

.carousel-description {
    margin-top: 20px;
    text-align: center;
}

.carousel-description p {
    font-size: 16px;
    margin: 0;
}





/* -------------- Section 4 -------------- */


#section-testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-4 {

    height: 100vh;
   
}